header{
    background-color: #222121;
    color: aliceblue;
}

body{
    background-color: #222121;
}

.formulario{
    background-color: #1b1b1b;
    color: aliceblue;
}

.exit{
    background-color: #222121;
    color: aliceblue;
}

.logo h2 span{
    color: rgb(255, 0, 119)
}