header{
    background-color: #222121;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    text-decoration: none;
    text-align: right;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #222121;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario{
    background-color: #1b1b1b;
    color: aliceblue;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.exit{
    background-color: #222121;
    color: aliceblue;
}

.logo h2 span{
    color: rgb(255, 0, 119)
}