body {
    color: #dbc715;
    background-color: #82288b;
    font-family: monospace;
    
}

form {
    color: #dbc715;
    width: 400px;
    background-color: #4d1952;

    padding: 20px;
    margin: 50px auto;

    border: 1px solid #b356bb;
    border-radius: 10px;
    

}

label {
    font-weight: bold;
}
input{
    background-color: #82288b;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 7px;

}

button{
    color: #dbc715;
    background-color: #b356bb;
    margin-bottom: auto;
    border-bottom: 2px;
    
}