*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #032f3b;
    color: #e3ecee;
    line-height: 1.6;
}


a{
    color: #e3ecee;
    text-decoration: none;
}

/*cabeçalho*/

.logo{
    height: 80px;
    background-color: #032f3b;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-bottom: 1px solid #1e748b;    
}

.logo h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c74049;
}

.logo p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f04d65
}

.area-usuario{
    margin-top: 20px;
    background-color: #094854;
    gap: 10px;
}

.botao-login{
    background-color: #094854;
    border-radius: 14px;
    color: #f04d65;
    width: 100px;
}

.botao-cadastro{
    border-color: #094854;
    border-radius: 14px;
    color: #f04d65;
    width: 100px;
}

/*menu de nav*/

.menu-principal{
color: #e3ecee;
background-color: #094854;
}

.container{
color: #e3ecee;
background-color: #094854;
}

.menu-lista{
color: #e3ecee;
background-color: #094854;
}

.menu-item{
color: #e3ecee;
background-color: #094854;
}

/*a href - menu item*/

/*cont-principal*/

.conteudo{
margin-top: 15px;
color: #094854;
}






