*{
    margin: 0;
    padding: 0;
}

/*cabeçalho*/

.cabecalho{
    background-color: rgb(139, 40, 37);
}

.cabecalho h1{
    color: aqua;
}

.logo{

}

.area-usuario{

}

.botao-login{

}

.botao-cadastro{

}

/*menu de nav*/

.menu-principal{

}

.container{

}

.menu-lista{

}

.menu-item{

}

/*a href - menu item*/

/*cont-principal*/






