* {
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.6;
}

.intro-form {
    background-color: #22300B;
    color: #76993D;
}

.boxes {
    border: 5px;
    background-color: black;
    color: #76993D;
    border-color: none;
}

.boton {
    margin-top: 10px;
    border-radius: 7px;
    background-color: #293B14;
    color: #76993D;
    width: 100px;
    height: 40px;
}

.boton:hover {
    transform: translateY(-3px);
    background-color: #76993D;
    color: #fff;
}

.formulario {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: #fff;
    border: 10px;
    gap: 25px;
}


.form-card {
    display: flex;
    flex-direction: column;
}

/**/

.cadastrados {
    background-color: #22300B;
    color: #76993D;
    height: 100vh;
}