*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3b3b3b;
    color: aliceblue;
}

header{
    background-color: #1f1f1f;
    color: aliceblue;
}

.logo{
    color: aliceblue;
    font-size: 30px;
    padding: 10px;
}

nav{
    padding: 10px;
    gap: 10px;
    text-align: end;
}

a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

a:hover{ 
    color: #00ff00;
    transition: 0.3s;
}

.logo span{
    color: #00ff00;
}

.text{
    text-align: left;
    margin: 5px
}
